<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from bootstrapmade.com/demo/templates/Presento/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Mar 2022 05:40:38 GMT -->
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- /Added by HTTrack -->
    <section id="hero" class="d-flex align-items-center">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <div class="row">
                    <div class="col-xl-6">
                        <h1>Hashtag Technologies</h1>
                        <h2>Mecbik Africa Ltd is limited Software Company in Kenya, specializing in software solutions for enterprises, Software Integration and web solutions.Founded in 2013,Mecbik Africa Ltd focuses on web, mobile and database business solutions. What can we build for you?</h2>
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
            </div>
        </section>
        <main id="main">
            <section id="clients" class="clients">
              <div class="section-title">
                        <h2>GLAD TO MEET YOU.</h2>
                        <p>Our organization is dedicated to aiding our clients in using online technology to help them thrive in their enterprises. Where we provide our services at the most competitive prices in the market without sacrificing quality.

The strong sense of appreciation we have received from clients in many regions of Kenya demonstrates how good we are at offering the best IT solutions to our clients. We have exceptional technical project management abilities as well as knowledge of current IT technologies in the area. </p>
                    </div>
            </section>
            <section id="about" class="about section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="row no-gutters">
                        <div class="content col-xl-5 d-flex align-items-stretch">
                            <div class="content text-dark">
                                <img src="/images/products.svg"  class="trans" />
                                <h3>Our products</h3>
                                <p>Above all, we care much more about your company's success than we do about receiving your money. Come into our offices right now!</p>
                                @*<a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>*@
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-stretch">
                          
                                 <div class="row">

                                   
                        <div class="col-md-6">
                            <div class="icon-box  text-center" data-aos="fade-up" data-aos-delay="100">
                             
                                <img class="icons" src="/images/heart.png"></img><br /><br />
                                        <h4>Sync HMIS</h4>
                                        <p>It is cutting-edge web-based software that caters to many areas of the healthcare industry, including Super Specialty, Multi Specialty, and General Hospitals of varying sizes, as well as modest Nursing Homes, HMOs, Polyclinics, and General Practitioners.</p>
                                   </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
                                  <img class="icons" src="/images/accounts.png"></img><br /><br />
                                        <h4>Sync Accounts</h4>
                                        <p>Our 4T Methodology ensures that properly developed bespoke software is simple to use, secure, and maintenance-free. Sync Accounts provides you with everything you need to operate your business, especially from a remote location. It's time to make running a business enjoyable once more.</p>
                                 </div>
                        </div> <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
                                  <img class="icons" src="/images/sms.png"></img><br /><br />
                                        <h4>Sync SMS</h4>
                                        <p>Our 4T Methodology ensures that properly developed bespoke software is simple to use, secure, and maintenance-free. Sync Accounts provides you with everything you need to operate your business, especially from a remote location. It's time to make running a business enjoyable once more.</p>
                                 </div>
                        </div> <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
                                  <img class="icons" src="/images/inventory.png"></img><br /><br />
                                        <h4>Sync Inventory</h4>
                                        <p>Management must strive for more than survival in today's fiercely competitive corporate sector. A superb inventory software system with sophisticated features like lot control, kitting, serial number tracking, and inventory management that is trustworthy, direct, and robust is the least you need in your quest for market supremacy.</p>
                                 </div>
                        </div><div class="col-md-6 mt-4 mt-md-0">
                          
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
                                  <img class="icons" src="/images/ai.png"></img><br /><br />
                                        <h4>Sync BI</h4>
                                        <p>The purpose of our business intelligence is still to get the right information to the right people at the right time. We provide self-service BI capabilities as well as real-time insights that may be delivered straight to mobile devices.</p>
                                 </div>
                       
                       
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                          
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
                                  <img class="icons" src="/images/pos.png"></img><br /><br />
                                        <h4>Sync POS</h4>
                                        <p>By simplifying complicated operations, our software makes inventory control simple to grasp. Make POS less painful. Sync POS is a beautifully designed, responsive point–of–sale system that makes selling to your consumers quick and easy.</p>
                                 </div>
                       
                       
                        </div>
                          
                        </div>
                    </div>
                </div>
            </section>
            <section id="counts" class="counts">
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="fa fa-users"></i> <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                            <div class="count-box">
                                <i class="fa fa-retweet"></i></i> <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Projects</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                            <div class="count-box">
                                <i class="fa fa-clock-o"></i> <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Hours Of Support</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                            <div class="count-box">
                                <i class="fa fa-users"></i><span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Hard Workers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tabs" class="tabs">
               @* <div class="container" data-aos="fade-up">
                    <ul class="nav nav-tabs row d-flex">
                        <li class="nav-item col-3">
                            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                                <i class="ri-gps-line"></i>
                                <h4 class="d-none d-lg-block">Modi sit est dela pireda nest</h4>
                            </a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                                <i class="ri-body-scan-line"></i>
                                <h4 class="d-none d-lg-block">Unde praesenti mara setra le</h4>
                            </a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                                <i class="ri-sun-line"></i>
                                <h4 class="d-none d-lg-block">Pariatur explica nitro dela</h4>
                            </a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                                <i class="ri-store-line"></i>
                                <h4 class="d-none d-lg-block">Nostrum qui dile node</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                                    <h3>Our Products</h3>
                                    <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        <li>
                                            <i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                                            nulla pariatur.
                                        </li>
                                    </ul>
                                    <p>
                                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                    </p>
                                </div>
                                <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                    <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/tabs-1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                    <h3>Neque exercitationem debitis soluta quos debitis quo mollitia officia est</h3>
                                    <p>
                                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                    </p>
                                    <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                                        <li>
                                            <i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                                            nulla pariatur.
                                        </liAbove all, we care much more about your company's success than we do about receiving your money. Come into our offices right now!
                                    </ul>
                                </div>
                                <div class="col-lg-6 order-1 order-lg-2 text-center"><img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/tabs-2.jpg" alt="" class="img-fluid" /></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                    <h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
                                    <p>
                                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                    </p>
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                                    </ul>
                                    <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="col-lg-6 order-1 order-lg-2 text-center"><img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/tabs-3.jpg" alt="" class="img-fluid" /></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                    <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                                    <p>
                                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                    </p>
                                    <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        <li>
                                            <i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                                            nulla pariatur.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 order-1 order-lg-2 text-center"><img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/tabs-4.jpg" alt="" class="img-fluid" /></div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </section>
             <section id="about" class="about section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="row no-gutters">
                        <div class="content col-xl-5 d-flex align-items-stretch " >
                            <div class="content text-dark">
                                <img  src="/images/services.svg" style="height:150px;" />
                                <h3 class="trans">Our Services</h3>
                                <p id="services_scroll">Above all, we care much more about your company's success than we do about receiving your money. Come into our offices right now!</p>
                                @*<a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>*@
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-stretch">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon-box  text-center" data-aos="fade-up" data-aos-delay="100">
                               
                                <img class="icons" src="https://cdn-icons-png.flaticon.com/512/2282/2282188.png"></img> <br /><br />
                                    
                                    <h4>Sosftware Development</h4>
                                <p>We Are Dedicated to Creating High-Quality Custom Software. Our 4T Methodology guarantees that properly developed custom software is simple to use, secure, and maintenance-free.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="200">
                                <img class="icons" src="https://cdn-icons-png.flaticon.com/512/1239/1239719.png"></img><br /><br />
                              
                                <h4>Networking</h4>

                                <p>Mecbic Africa limited network infrastructure solutions provide new levels of security, availability, performance, and operational simplicity to help enterprises achieve their high-performance network goals.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="300">
                            
                                <img class="icons" src="https://cdn-icons-png.flaticon.com/512/841/841364.png"></img><br /><br />

                                <h4>Web Development</h4>
                                <p>We've created a number of them. To ensure exceptional functionality and amazing results, we use the most up-to-date website design approaches, such as multimedia, visual tools, and exact software development standards.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="400">
                               
                                <img class="icons" src="https://cdn-icons-png.flaticon.com/512/1795/1795105.png"></img><br /><br />

                                
                                <h4>ICT Consultancy</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="500">
                               
                                <img class="icons" src="https://cdn-icons-png.flaticon.com/512/3039/3039367.png"></img><br /><br />

                                <h4>Data Bid Solution</h4>
                                <p>Mecbik Africa  Big Data services can help you change the way you do business. Use the Mecbik Africa iData platform in conjunction with Apache Hadoop to get quick results and limitless storage.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                           <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="500">
                               
                                <img class="icons" src="https://cdn-icons-png.flaticon.com/512/4784/4784352.png"></img><br /><br />

                                <h4>SMES Solution</h4>
                                <p>With our selection of economical, pre-packaged software solutions for SMEs and subsidiaries, you can leverage your scale to your advantage.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
          @*  <section id="portfolio" class="portfolio">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Portfolio</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-app">App</li>
                                <li data-filter=".filter-card">Card</li>
                                <li data-filter=".filter-web">Web</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>App 1</h4>
                                    <p>App</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>Web 3</h4>
                                    <p>Web</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>App 2</h4>
                                    <p>App</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>Card 2</h4>
                                    <p>Card</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2">
                                            <i class="bx bx-plus"></i>
                                        </a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>Web 2</h4>
                                    <p>Web</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>App 3</h4>
                                    <p>App</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>Card 1</h4>
                                    <p>Card</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1">
                                            <i class="bx bx-plus"></i>
                                        </a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>Card 3</h4>
                                    <p>Card</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3">
                                            <i class="bx bx-plus"></i>
                                        </a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="" />
                                <div class="portfolio-info">
                                    <h4>Web 3</h4>
                                    <p>Web</p>
                                    <div class="portfolio-links">
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                        <a href="https://bootstrapmade.com/demo/templates/Presento/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="testimonials" class="testimonials">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Testimonials</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
                    </div>
                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="" />
                                        <h3>Saul Goodman</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget
                                            nibh et. Maecen aliquam, risus at semper. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                                        <h3>Sara Wilsson</h3>
                                        <h4>Designer</h4>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua
                                            noster fugiat irure amet legam anim culpa. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                                        <h3>Jena Karlis</h3>
                                        <h4>Store Owner</h4>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute
                                            amet eram fore quis sint minim. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                                        <h3>Matt Brandon</h3>
                                        <h4>Freelancer</h4>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim
                                            magna sunt elit fore quem dolore labore illum veniam. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">
                                        <img src="https://bootstrapmade.com/demo/templates/Presento/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="" />
                                        <h3>John Larson</h3>
                                        <h4>Entrepreneur</h4>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum
                                            cillum fugiat esse veniam culpa fore nisi cillum quid. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <section id="pricing" class="pricing section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Pricing</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="box" data-aos="fade-up" data-aos-delay="100">
                                <h3>Free</h3>
                                <h4><sup>$</sup>0<span> / month</span></h4>
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li class="na">Pharetra massa</li>
                                    <li class="na">Massa ultricies mi</li>
                                </ul>
                                <div class="btn-wrap"><a href="#" class="btn-buy">Buy Now</a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                                <h3>Business</h3>
                                <h4><sup>$</sup>19<span> / month</span></h4>
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li class="na">Massa ultricies mi</li>
                                </ul>
                                <div class="btn-wrap"><a href="#" class="btn-buy">Buy Now</a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                            <div class="box" data-aos="fade-up" data-aos-delay="300">
                                <h3>Developer</h3>
                                <h4><sup>$</sup>29<span> / month</span></h4>
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                                <div class="btn-wrap"><a href="#" class="btn-buy">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="faq" class="faq">
                <div class="container" data-aos="fade-up">
                    <div class="section-title"><h2>Frequently Asked Questions</h2></div>
                    <ul class="faq-list accordion" data-aos="fade-up">
                        <li>
                            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">
                                Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i>
                            </a>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                                    ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i>
                            </a>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                                    Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                                    ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">
                                Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i>
                            </a>
                            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                                    gravida quis blandit turpis cursus in
                                </p>
                            </div>
                        </li>
                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">
                                Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i>
                            </a>
                            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                                    tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>*@
          @*  <section id="team" class="team section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title text-dark">
                        <h2>Some Of our Team</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="/images/eric.jpg" class="img-fluid"  alt="" />
                                    <div class="social">
                                        <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-instagram"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Erick Kibet</h4>
                                    <span>Senior lead of Developer and Project Manager.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="200">
                                <div class="member-img">
                                    <img src="/images/Michael.jpeg" class="img-fluid" alt="" />
                                    <div class="social">
                                        <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-instagram"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Michael Birgen</h4>
                                    <span>Project Manager and Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="300">
                                <div class="member-img">
                                    <img src="~/images/kwambai.jpeg" class="img-fluid" alt="" />
                                    <div class="social">
                                        <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-instagram"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Abraham Kwambai</h4>
                                    <span>Data Scientist, Monitoring and Evaluation Specialist.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="400">
                                <div class="member-img">
                                    <img src="/images/kimutai.jpg" class="img-fluid" alt="" />
                                    <div class="social">
                                        <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-instagram"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Kimutai Brian</h4>
                                    <span>Software Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Contact</h2>
                        <p>Do you have any questions or comments? Please do not hesitate to contact us. We will do our best to respond as quickly as possible.</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box">
                                        <img  src="/images/location.svg" style="height:150px"/>
                                        <h3>Our Offices</h3>
                                        <p>Zion Mall Eldoret</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4">
                                                                               <img  src="/images/email.svg" style="height:100px"/>

                                        <h3>Email Us</h3>
                                        <p>
                                            <a href="" class="__cf_email__" data-cfemail="fa9995948e9b998eba9f829b978a969fd4999597">info@mecbikafrica.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4">
                                                                                                                      <img  src="/images/call.svg" style="height:100px"/>

                                        <h3>Call Us</h3>
                                        <p>
                                            +254 710 180942<br />
                                            +254 799 371388
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="https://bootstrapmade.com/demo/templates/Presento/forms/contact.php" method="post" role="form" class="php-email-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required /></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required /></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required /></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea></div>
                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Mecbik<span> Africa</span></h3>
                            <p>
                               Nairobi <br />
                               <br />
                               Kenya <br />
                                <br />
                                <strong>Phone:</strong> Tel: +254 710 180942/+254 799 371388<br />
                                <strong>Email:</strong> <a href="https://bootstrapmade.com/cdn-cgi/l/email-protection" class="__cf_email__">info@mecbikafrica.com</a><br />
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Our Products</h4>
                            <ul>
                                <li> <img class="icons_" src="/images/heart.png">&nbsp;</img> <a href="#">Sync HMIS</a></li>
                                <li> <img class="icons_" src="/images/accounts.png"></img>&nbsp; <a href="#">Sync Accounts</a></li>
                                <li> <img class="icons_" src="/images/sms.png"></img> &nbsp; <a href="#">Sync SMS</a></li>
                                <li> <img class="icons_" src="/images/inventory.png"></img> &nbsp; <a href="#">Sync Inventory</a></li>
                                <li> <img class="icons_" src="/images/ai.png"></img>&nbsp; <a href="#">Sync BI</a></li>
                                <li><img class="icons_" src="/images/pos.png"></img> &nbsp; <a href="#">Sync POS</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li> <a href="#"  ><img class="icons_" src="https://cdn-icons-png.flaticon.com/512/1239/1239719.png" /> &nbsp;Software Development</a></li>
                                <li><img class="icons_" src="https://cdn-icons-png.flaticon.com/512/1239/1239719.png"></img> &nbsp; <a href="#">Networking</a></li>
                                <li> <img class="icons_" src="https://cdn-icons-png.flaticon.com/512/841/841364.png"></img> &nbsp;<a href="#">Web Development</a></li>
                                <li><img class="icons_" src="https://cdn-icons-png.flaticon.com/512/1795/1795105.png"></img>&nbsp; <a href="#">ICT Consultancy</a></li>
                                <li><img class="icons_" src="https://cdn-icons-png.flaticon.com/512/3039/3039367.png"></img>&nbsp; <a href="#">Data Bid Solution</a></li>
                                <li><img class="icons_" src="https://cdn-icons-png.flaticon.com/512/4784/4784352.png"></img>&nbsp; <a href="#">SMES Solution</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 footer-newsletter">
                            <h4>Join Our Newsletter</h4>
                            <p>Submit your email address to receive updates and free resources.</p>
                            <form action="#" method="post"><input type="email" name="email" /><input type="submit" value="Subscribe" /></form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Mecbik </span></strong>Africa
                    </div>
                    <div class="credits">Designed by <a href="http://mecbikafrica.com/"> MECBIK AFRICA LTD.</a></div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-skype"></i></a> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </footer>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
       
 
    <!-- Mirrored from bootstrapmade.com/demo/templates/Presento/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Mar 2022 05:40:38 GMT -->
</html>
